{% extends 'template/jhTemplateV3.html'%}

<!-- 3 table：指定某个 class，管理 student 的页面 -->



<!-- vue template 代码块 -->
{% block vue_template %}
<jh-layout-v3>
  <template slot="breadcrumbsTitle">
    <div>
      【{{ title }}】的学生管理
      <span style="font-size: 1rem;" :class="{'d-block': isMobile}">(ID: {{ classId }})</span>
    </div>
  </template>
  <v-container class="fullScreen d-flex flex-column pa-xs-0 pa-0">
    <v-card>
      <v-row class="ma-0 pa-xs-4 align-center flex-none pt-0 "
      :class="{'pa-4': !isMobile, 'pb-0': !isMobile, 'pa-2': isMobile}">
      <v-col cols="12" xs="4" sm="4" md="4" xl="4" class="pl-0 ">
        <v-btn dark color="success" @click="doUiAction('startCreateItem')" class="elevation-0 mr-2">添加新学生</v-btn>
        <span class="body-2">共{{ tableData.length }}条记录</span>
      </v-col>
      <v-spacer></v-spacer>
      <v-col cols="12" xs="8" sm="4" md="3" xl="3" class="pa-xs-0 pa-xs-2 col-sm-8-flex">
        <v-text-field dense filled single-line v-model="searchInput" label="表格过滤" class="cus-v-input"></v-text-field>
      </v-col>
    </v-row>
    <v-data-table fixed-header :headers="headers" :items="tableData" :search="searchInput"
      :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }" :items-per-page="20" :dense="isMobile"
      :loading="isTableLoading" checkbox-color="success" mobile-breakpoint="0"
      class="elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">

      <template v-slot:item.operationAt="{ item }">
        {{ item.operationAt && dayjs(item.operationAt).format('YYYY-MM-DD HH:mm:ss') }}
      </template>
      <template v-slot:item.action="{ item }">
        <v-btn :small="!isMobile" :xSmall="isMobile" class="success" @click="doUiAction('startUpdateItem', {item})">
          编辑
        </v-btn>
        <v-btn :small="!isMobile" :xSmall="isMobile" class="error" @click="doUiAction('deleteItem', {item})">
          删除
        </v-btn>
      </template>
    </v-data-table>
    </v-card>


  </v-container>
  <!-- 新增抽屉 -->
  <v-navigation-drawer v-model="isAddDrawerShow" :permanent="isAddDrawerShow" fixed temporary right width="80%"
                       class="elevation-24">
    <v-form v-model="isFormValid" v-if="isAddDrawerShow" ref="form" lazy-validation>
      <v-row class="pt-8">
        <span class="title pa-6" :class="{'pl-12': !isMobile, 'pl-6': isMobile}">新增信息</span>
        <v-spacer></v-spacer>
        <v-btn class="mt-6 elevation-0" :class="{'mr-16': !isMobile, 'mr-8': isMobile}" fab x-small @click="isAddDrawerShow = false">
          <v-icon dark>mdi-close</v-icon>
        </v-btn>
      </v-row>
      <v-row :class="{'px-10': !isMobile, 'px-3': isMobile, 'pb-7': isMobile}">

        <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
          <span style="color: #3F4254;" :style="{'line-height': isMobile ? '20px' : '42px', 'font-weight': isMobile ? 400 : 500}">班级ID</span>
          <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['classId']"></v-text-field>
        </v-col>
        <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
          <span style="color: #3F4254;" :style="{'line-height': isMobile ? '20px' : '42px', 'font-weight': isMobile ? 400 : 500}">学生ID</span>
          <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['studentId']"></v-text-field>
        </v-col>
        <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
          <span style="color: #3F4254;" :style="{'line-height': isMobile ? '20px' : '42px', 'font-weight': isMobile ? 400 : 500}">学生名字</span>
          <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['name']"></v-text-field>
        </v-col>
        <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
          <span style="color: #3F4254;" :style="{'line-height': isMobile ? '20px' : '42px', 'font-weight': isMobile ? 400 : 500}">年级</span>
          <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['level']"></v-text-field>
        </v-col>
        <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
          <span style="color: #3F4254;" :style="{'line-height': isMobile ? '20px' : '42px', 'font-weight': isMobile ? 400 : 500}">身高</span>
          <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['bodyHeight']"></v-text-field>
        </v-col>
        <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
          <span style="color: #3F4254;" :style="{'line-height': isMobile ? '20px' : '42px', 'font-weight': isMobile ? 400 : 500}">出生日期</span>
          <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['dateOfBirth']"></v-text-field>
        </v-col>
        <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
          <span style="color: #3F4254;" :style="{'line-height': isMobile ? '20px' : '42px', 'font-weight': isMobile ? 400 : 500}">性别</span>
          <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['gender']"></v-text-field>
        </v-col>
        <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
          <span style="color: #3F4254;" :style="{'line-height': isMobile ? '20px' : '42px', 'font-weight': isMobile ? 400 : 500}">备注</span>
          <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['remarks']"></v-text-field>
        </v-col>
   
        <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
          <span style="color: #3F4254;" :style="{'line-height': isMobile ? '20px' : '42px', 'font-weight': isMobile ? 400 : 500}">学生状态</span>
          <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['studentStatus']"></v-text-field>
        </v-col>
<!--      <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">-->
<!--        &lt;!&ndash; 必填字段样式 demo :rules="requireRules" &ndash;&gt;-->
<!--        <span style="color: #3F4254;" :style="{'line-height': isMobile ? '20px' : '42px', 'font-weight': isMobile ? 400 : 500}">学生ID</span>-->
<!--        <v-text-field class="cus-v-input " dense filled single-line label="学生ID" v-model="editItem.studentId" :rules="requireRules"></v-text-field>-->
<!--      </v-col>-->
<!--      &lt;!&ndash; select 字段 demo &ndash;&gt;-->
<!--        <span style="color: #3F4254;" :style="{'line-height': isMobile ? '20px' : '42px', 'font-weight': isMobile ? 400 : 500}">学生ID</span>-->
<!--      <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">-->
<!--        <v-select class="cus-v-input " dense filled single-line clearable label="班级ID" v-model="editItem.classId" :items="constantCollection.classId"></v-select>-->
<!--      </v-col>-->
<!--      &lt;!&ndash; 日期选择 demo &ndash;&gt;-->
<!--      <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">-->
<!--        <span style="color: #3F4254;" :style="{'line-height': isMobile ? '20px' : '42px', 'font-weight': isMobile ? 400 : 500}">学生ID</span>-->
<!--        <v-menu class="cus-v-input " offset-y max-width="290">-->
<!--          <template v-slot:activator="{ on, attrs }">-->
<!--            <v-text-field class="cus-v-input " dense filled single-line v-on="on" label="出生日期" v-model="editItem.dateOfBirth"></v-text-field>-->
<!--          </template>-->
<!--          <v-date-picker color="success" elevation="20" v-model="editItem.dateOfBirth"></v-date-picker>-->
<!--        </v-menu>-->
<!--      </v-col>-->
      </v-row>
      <v-row class="justify-end mx-0 mt-8 mb-8" :class="{'px-10': !isMobile, 'px-4': isMobile}">
        <v-btn color="success" @click="doUiAction('createItem')">新增</v-btn>
        <v-btn class="ml-2" @click="isAddDrawerShow = false">取消</v-btn>
      </v-row>
    </v-form>
  </v-navigation-drawer>
  <!-- 编辑抽屉 -->
  <v-navigation-drawer v-model="isEditDrawerShow" :permanent="isEditDrawerShow" fixed temporary right width="80%"
                       class="elevation-24">
    <v-form v-model="isFormValid" v-if="isEditDrawerShow" ref="form" lazy-validation>
      <v-row class="pt-8">
        <span class="title pa-6" :class="{'pl-12': !isMobile, 'pl-6': isMobile}">编辑信息</span>
        <v-spacer></v-spacer>
        <v-btn class="mt-6 elevation-0" :class="{'mr-16': !isMobile, 'mr-8': isMobile}" fab x-small @click="isEditDrawerShow = false">
          <v-icon dark>mdi-close</v-icon>
        </v-btn>
      </v-row>
      <v-row :class="{'px-10': !isMobile, 'px-3': isMobile, 'pb-7': isMobile}">

        <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
          <span style="color: #3F4254;" :style="{'line-height': isMobile ? '20px' : '42px', 'font-weight': isMobile ? 400 : 500}">班级ID</span>
          <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['classId']"></v-text-field>
        </v-col>
        <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
          <span style="color: #3F4254;" :style="{'line-height': isMobile ? '20px' : '42px', 'font-weight': isMobile ? 400 : 500}">学生ID</span>
          <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['studentId']"></v-text-field>
        </v-col>
        <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
          <span style="color: #3F4254;" :style="{'line-height': isMobile ? '20px' : '42px', 'font-weight': isMobile ? 400 : 500}">学生名字</span>
          <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['name']"></v-text-field>
        </v-col>
        <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
          <span style="color: #3F4254;" :style="{'line-height': isMobile ? '20px' : '42px', 'font-weight': isMobile ? 400 : 500}">年级</span>
          <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['level']"></v-text-field>
        </v-col>
        <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
          <span style="color: #3F4254;" :style="{'line-height': isMobile ? '20px' : '42px', 'font-weight': isMobile ? 400 : 500}">身高</span>
          <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['bodyHeight']"></v-text-field>
        </v-col>
        <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
          <span style="color: #3F4254;" :style="{'line-height': isMobile ? '20px' : '42px', 'font-weight': isMobile ? 400 : 500}">出生日期</span>
          <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['dateOfBirth']"></v-text-field>
        </v-col>
        <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
          <span style="color: #3F4254;" :style="{'line-height': isMobile ? '20px' : '42px', 'font-weight': isMobile ? 400 : 500}">性别</span>
          <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['gender']"></v-text-field>
        </v-col>
        <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
          <span style="color: #3F4254;" :style="{'line-height': isMobile ? '20px' : '42px', 'font-weight': isMobile ? 400 : 500}">备注</span>
          <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['remarks']"></v-text-field>
        </v-col>
        <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
          <span style="color: #3F4254;" :style="{'line-height': isMobile ? '20px' : '42px', 'font-weight': isMobile ? 400 : 500}">学生状态</span>
          <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['studentStatus']"></v-text-field>
        </v-col>
      </v-row>
      <v-row class="justify-end mx-0 mt-8 mb-8" :class="{'px-10': !isMobile, 'px-4': isMobile}">
        <v-btn color="success" @click="doUiAction('updateItem')">保存</v-btn>
        <v-btn class="ml-2" @click="isEditDrawerShow = false">取消</v-btn>
      </v-row>
    </v-form>
  </v-navigation-drawer>
</jh-layout-v3>
{% endblock %}

{% block vue_body %}
<script type="module">

  new Vue({
    el: '#app',
    template: '#app-template',
    vuetify: new Vuetify(),
    data: () => ({
      isMobile: window.innerWidth < 600,
      classId: null,
      title: null,
      searchInput: null,
      isTableLoading: true,
      headers: [

        { text: '班级ID', value: 'classId', width: 120 },
        { text: '学生ID', value: 'studentId', width: 120 },
        { text: '学生名字', value: 'name', width: 120 },
        { text: '年级', value: 'level', width: 120 },
        { text: '身高', value: 'bodyHeight', width: 120 },
        { text: '出生日期', value: 'dateOfBirth', width: 120 },
        { text: '性别', value: 'gender', width: 120 },
        { text: '备注', value: 'remarks', width: 120 },
        { text: '学生状态', value: 'studentStatus', width: 120 },
        { text: "操作者", value: "operationByUser", width: 120 },
        { text: "操作时间", value: "operationAt", width: 250 },
        { text: '操作', value: 'action', align: 'center', sortable: false, width: 200, class: 'fixed', cellClass: 'fixed' },
      ],
      drawerHeaders: [

        { text: '班级ID', value: 'classId', width: 120 },
        { text: '学生ID', value: 'studentId', width: 120 },
        { text: '学生名字', value: 'name', width: 120 },
        { text: '年级', value: 'level', width: 120 },
        { text: '身高', value: 'bodyHeight', width: 120 },
        { text: '出生日期', value: 'dateOfBirth', width: 120 },
        { text: '性别', value: 'gender', width: 120 },
        { text: '备注', value: 'remarks', width: 120 },
        { text: '学生状态', value: 'studentStatus', width: 120 },
        { text: "操作者", value: "operationByUser", width: 120 },
      ],
      tableData: [],
      tableDataFromBackend: [],
      isFormValid: true,
        requireRules: [
        v => !!v || 'This is required',
      ],
      constantCollection: {},
      isEditDrawerShow: false,
      editItem: {},
      isAddDrawerShow: false,
      addItem: {},
    }),
    watch: {},
    async created() {
      const urlParams = new URLSearchParams(location.search);
      const classId = urlParams.get('classId');
      const title = urlParams.get('title');
      if (classId && title) {
        this.classId = classId;
        this.title = title;
      } else {
        setTimeout(() => {
            window.vtoast.fail('请从"班级列表"点击"学生"进入');
        }, 1000);
        return;
      }
      this.doUiAction('refreshTableData');
    },
    mounted() {
    },
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case 'refreshTableData':
            await this.refreshTableData();
            break;
          case 'startCreateItem':
            await this.clearItemData();
            await this.openCreateItemDialog();
            break;
          case 'createItem':
            await this.confirmCreateItemDialog();
            await this.doCreateItem();
            await this.refreshTableData();
            await this.closeDrawerShow();
            break;
          case 'startUpdateItem':
            await this.prepareItemData(uiActionData);
            await this.openUpdateDialog();
            break;
          case 'updateItem':
            await this.confirmUpdateItemDialog();
            await this.doUpdateItem();
            await this.refreshTableData();
            await this.closeDrawerShow();
            break;
          case 'deleteItem':
            await this.confirmDeleteItemDialog();
            await this.doDeleteItem(uiActionData);
            await this.refreshTableData();
            break;
          case 'redirect':
            await this.doRedirect(uiActionData);
            break;
          default:
            console.error("[doUiAction] uiActionId not find", {uiActionId});
            break;
        }
      },
      /**
       * uiActionId:  refreshTableData
       * description: ✅获取表格数据
       * main:   [{"function":"refreshTableData"}]
      */
      async refreshTableData() {
        this.isTableLoading = true;
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'studentManagementOfOneClass',
              actionId: 'selectCurrentList',
              where: { classId: this.classId },
              orderBy: [{ column: 'operationAt', order: 'desc' }]
            }
          }
        });
        this.tableDataFromBackend = result.data.appData.rows;
        this.tableData = result.data.appData.rows;
        this.isTableLoading = false;
      },

      /**
       * uiActionId:  startCreateItem
       * description: ✅获取表格数据
       * main:   [{"function":"clearItemData"},{"function":"openCreateItemDialog"}]
      */
      async clearItemData() {
        this.addItem = {};
        this.addItem['classId'] = this.classId;
      },

      async openCreateItemDialog() {
        this.isAddDrawerShow = true;
      },

      /**
       * uiActionId:  createItem
       * description: ✅获取表格数据
       * before: [{"function":"confirmCreateItemDialog"}]
       * main:   [{"function":"doCreateItem"},{"function":"refreshTableData"}]
       * after:  [{"function":"closeDrawerShow"}]
      */
      async confirmCreateItemDialog() {
        if (await window.confirmDialog({title: "新增", content: "确定新增吗？"}) === false) {
          throw new Error("[confirmCreateItemDialog] 否");
        }
      },

      /**
       * 新增数据
       */
      async doCreateItem() {
        const {id, ...data} = this.addItem;
        await window.vtoast.loading("新增数据");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'studentManagementOfOneClass',
              actionId: 'insertItem',
              actionData: {...data, classId: this.classId}
            }
          }
        })
        await window.vtoast.success("新增数据成功");
      },

      async closeDrawerShow() {
        this.isEditDrawerShow = false;
        this.isAddDrawerShow = false;
      },

      /**
       * uiActionId:  startUpdateItem
       * description: ✅获取表格数据
       * main:   [{"function":"prepareItemData"},{"function":"openUpdateDialog"}]
      */
      async prepareItemData({item}) {
        this.editItem = {...item};
      },

      async openUpdateDialog() {
        this.isEditDrawerShow = true;
      },


      /**
       * uiActionId:  updateItem
       * description: ✅获取表格数据
       * before: [{"function":"confirmUpdateItemDialog"}]
       * main:   [{"function":"doUpdateItem"},{"function":"refreshTableData"}]
       * after:  [{"function":"closeDrawerShow"}]
      */
      async confirmUpdateItemDialog() {
        if (await window.confirmDialog({title: "修改", content: "确定修改吗？"}) === false) {
          throw new Error("[confirmUpdateItemDialog] 否");
        }
      },

      async doUpdateItem() {
        const {id, ...data} = this.editItem;
        await window.vtoast.loading("修改数据");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'studentManagementOfOneClass',
              actionId: 'updateItem',
              actionData: data,
              where: {id: id}
            }
          }
        })
        await window.vtoast.success("修改数据成功");
      },

      /**
       * uiActionId:  deleteItem
       * description: ✅获取表格数据
       * before: [{"function":"confirmDeleteItemDialog"}]
       * main:   [{"function":"doDeleteItem"},{"function":"refreshTableData"}]
      */
      async confirmDeleteItemDialog() {
        if (await window.confirmDialog({title: "删除", content: "确定删除吗？"}) === false) {
          throw new Error("[confirmDeleteItemDialog] 否");
        }
      },

      async doDeleteItem({ item }) {
        window.vtoast.loading("删除中");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'studentManagementOfOneClass',
              actionId: 'deleteItem',
              where: { id: item.id }
            }
          }
        });
        window.vtoast.success("删除成功");
      },
      dayjs: dayjs,
    }
  })
</script>
{% endblock %}
